@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Syne:wght@400..800&display=swap');

:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: linear-gradient(to bottom, #242424 0%, black 100%);
  margin: 0px !important;
  padding: 0px Im !important;
  font-family: "Fredoka", serif;
  font-optical-sizing: auto;
  font-weight: semibold;
  font-style: normal;
  z-index: -1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


